@media screen and (max-width: 650px){
  .header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header-container nav{
    display: flex;
    align-items: center;
  }

  .header-container nav a{
    font-size: 0.8rem;
  }

  .banner{
    font-size: 0.8rem;
  }

  .main-container .serie-title{
    font-size: 1.1rem;
    font-weight: 800;
  }

  .main-container .description{

  }

  .button{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    width: 19rem;

  }
}
